/*Temporary styles for the quick site release */

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: whitesmoke;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #232526, #414345);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    
    color: whitesmoke;
    font-family: 'JetBrains Mono', monospace;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}

section{
    min-height: 100vh;
    padding:0 1%;
    display: flex;
    overflow: hidden;

}

.header{
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
}

.header__nav{
    display: flex;
    width: 500px;
}
.header__nav__list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px 0;
}

.header__nav__list__item__link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}

.first__section__content{
    display: flex;
    width: 100%;
    padding-top: 1% ;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
}

.content__resume__text{
    font-size: 3rem;
    width: 60%;
}

.second__section__about{
    display: flex;
    flex-direction: column;
}

.section__title{
    text-align: center;
    font-size: 50px;
}

.second__section__about__content{
    display: flex;
    flex-direction: column;
}
.second__section__about__content:nth-child(even){
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.second__section__about__text{
    font-size: 2rem;
    width: 40%;
    background: rgba(0,0,0, .3);
}

.second__section__projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__project__list{
    display: grid;
    align-items: stretch;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 150px;
}


.section__project__list__item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background: #a9a9a9;
    border-radius: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.section__project__list__item:hover {
    transform: scale(1.1);
    border-radius: 14px;
    border: #00bcff 4px solid;

}

.section__project__list__item__img{
    border-radius: 14px 14px 0 0;
    overflow: hidden;
}

.section__project__list__item__text{
    color: black;
    padding: 0 2%;
}

.third__section__contacts{
    display: flex;
    flex-direction: column;
}
.section__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input, textarea{
    border-radius: 0;
    padding: 10px;
    margin: 10px;
    background: whitesmoke;
}

.email__submit__btn{
    width: 10%;
    border-radius: 0;
    margin: 10px;
    background: whitesmoke;
}

.contact__list{
    list-style: none;
    color: whitesmoke;
}

.contact__list__item{
    display: flex;
    align-items: center;
}

.contact__list__item__icon{
    width: 40px;
    height: 40px;
}
.contact__list__item__text{
    margin-left: 2%;
    white-space: nowrap;
}

